extends ../layout.pug
block content
    section
        .container
            h1 Manage Blogs
            hr

            .table-responsive
                table.table.table-bordered
                    tr.active
                        th Title
                        th Is Active
                        th Manage
                    each blog in blogs
                        tr
                            td: a(href="/blogs/" + blog.permalink) #{blog.title}
                            td #{blog.isActive}
                            td
                                a(href="/admin/blog/edit/" + blog.id) Edit | 
                                a(href="/admin/blog/delete/" + blog.id) Delete

            a.btn.btn-default(href="/admin/blog/create") Create Blog