extends ../layout.pug
block content
    section
        .container
            form(method="POST")
                h1 Create Blog
                hr
                input.form-control.form-control-kp#blog-title(placeholder="Title", type="text", name="title")
                input.form-control.form-control-kp#blog-image(placeholder="Image", type="text", name="image")
                textarea.form-control.form-control-kp#blog-preview(placeholder="preview", name="preview", style="min-height: 100px", required)
                textarea#md-editor(name="content")
                
                input.btn.btn-default(type="submit", value="Save")

                <br/>
                <br/>
    
    script.
        requirejs(['/js/scripts/blog-create.js'], function(BlogCreate){
            new BlogCreate.BlogCreate('md-editor');
        });