extends ../layout.pug

block content
    section.blog-container
        .container
            img.img-responsive(src=blog.imageUrl)
            h1 #{blog.title}
            p Published: #{moment(blog.createdAt).format("MM/DD/YYYY")}
            div !{blog.content}
        
    script.
        requirejs(['/js/scripts/blog.js']);