extends ../layout.pug
block content
    section
        .container
            form(method="POST")
                h1 Create Blog
                hr
                input.form-control#blog-title(placeholder="Title", type="text", name="title")
                <br/>
                input.form-control#blog-image(placeholder="Image", type="text", name="image")
                <br/>
                textarea.form-control#blog-preview(placeholder="preview", name="preview")
                <br/>
                textarea#md-editor(name="content")
                
                input.btn.btn-default(type="submit", value="Save")

                <br/>
                <br/>
    
    script.
        requirejs(['/js/scripts/blog-create.js'], function(BlogCreate, ){
            var blog_create = new BlogCreate.BlogCreate('md-editor');

            $('form').submit(function(e) {
                e.preventDefault();

                var data = {
                    imageUrl: $('[name="image"]').val(),
                    title: $('[name="title"]').val(),
                    preview: $('[name="preview"]').val()
                };

                blog_create.save(data).then(function(res) {
                    alert('saved');
                });
            })
        });