extends ../layout.pug

block content

    section.banner
        .content
            h2.text-center.animated.fadeIn.animation-delay-500ms
                span christian
                span soler
                span .me
            span.sub-title.animated.fadeInUp.animation-delay-1000ms Never Doubt a Creative Mind
