extends ../layout.pug

block content

    section.banner
        h1.text-center
            img(class="kp-logo", src="/assets/svgs/logo.svg")
        h2.text-center 
            span Key
            span Punchers
            span .io