extends ../layout.pug

block content

    section.banner
        h1.text-center
            img.animated.fadeIn.animation-delay-500ms(class="kp-logo", src="/assets/svgs/logo.svg")
        h2.text-center.animated.fadeIn.animation-delay-1000ms
            span Key
            span Punchers
            span .io
        span.sub-title.animated.fadeInUp.animation-delay-1500ms Never Doubt a Creative Mind