extends ../layout.pug

block content
    .container
        section#login-wrapper
            .content
                img.center-block.animated.fadeIn(class="kp-logo", src="/assets/svgs/logo-brand-color.svg")
                h2.text-center.animated.fadeInUp.animation-delay-1000ms
                    span Key
                    span Punchers
                    span .io
                ul
                    li
                        a(href="/auth/google")
                            i.fa.fa-3x.fa-google-plus