extends ../layout.pug

block content
    section.portfolio-container
        .container
            .text-center
                img.img-circle.img-border-circle.shadow(src="http://i.imgur.com/C7sR3GQ.jpg", width="144px")
            .text-center.text-2x
                span.text-thin CHRISTIAN
                span.text-bold SOLER
            p.small.text-center Web Developer & Android Developer Hobbist

            p
                | I am an experienced .NET Full Stack Developer, as well as an Android Developer Hobbyist. 
                | I have programming experience in different frameworks, tools and languages such as; 
                | C#, JAVA, HTML5, CSS3, JavaScript, ASP.NET, Android, AngularJS, JQuery, NodeJs. 
                | I am skilled in Visual Studio and IntelliJ IDEs. As a passionate person, I take pride in every project I take on. 
                | I am self-motivate and driven by puzzles and challenges. I enjoy leading or working in a team environment. 
                | I thrive under pressure while working in multiple projects and making deadlines. 
            p
                | I am looking for an opportunity to work in a company with a great environment, where I can expand my knowledge and gain experience. 
                | As well as becoming part of a team that is as passionate about programming as I am.