extends ../layout.pug

block content

    .container
        .row
            .col-sm-4
                .media
                    .media-left
                        img.img-circle.img-border-circle.media-object(src=user.image, width="50px", alt="Profile Image")
                    .media-body
                        h3.media-heading #{user.displayName}
                        p #{user.email}
            .col-sm-8