extends ../layout.pug

block content
    .container
        h2 TERMS OF USE
        
        p By using XA Android, you agree to be bound by there terms of use. If you do not wish to be bound by these terms of use, please do not install the application. Your agreement with us regarding compliance with these terms become effective immediately upon installation.
            | Third Party Sites and Information
            | XA Android may link you to other sites on the Internet or otherwise include references to information, materials and/or services provided by other parties. XA Android may contain information or material that some people may find inappropriate or offensive. These other sites and parties are not under our control, and you acknowledge that we are not responsible for the accuracy, copyright compliance, legality, decency, or any other aspect of the content of such sites, nor are we responsible for errors or omissions in any references to other parties or their products and services. The inclusion of such a link or reference is provided merely as a convenience and does not imply endorsement of, or association with, the site or party by us, or any warranty of any kind, either express or implied.

        h2 Accessing

        p (a) You agree that We will not be liable, under any circumstances and in any way, for any errors or omissions, loss or damage of any kind incurred as a result of use of any content posted on this site. You agree that you must evaluate and bear all risks associated with the use of any content, including any reliance on the accuracy, completeness, or usefulness of such content. You agree not to collect information about others, including e-mail addresses, or to use information obtained from the Services to send other users unsolicited e-mail of any kind.

        p (b) Comments or message board postings may provide links to other websites on the Internet. We are not responsible or liable for such content and we make no express or implied warranty about the accuracy, copyright compliance, legality, merchantability, or any other aspect of the content of such postings. We are not responsible or liable for any advertising, products, or other materials on or available from such websites or resources. The inclusion of links does not imply endorsement of the Websites by Us or any association with their operators.

        p (d) We may enable you to establish an account with a username and password to access and use the Services. If so, you are responsible for maintaining the strict confidentiality of your password, and you are responsible for any activity occurring through use of your account and password. You agree to immediately notify us of any unauthorized use of your password or account or any other breach of security and ensure that you exit from your account at the end of each session. We are not responsible or liable for any loss or damage arising from your failure to comply with this provision.

        br