html {
  font-size: 16px; }
  html body {
    background-color: white;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-size: 16px; }
    html body .main-wrapper {
      min-height: 100vh;
      background-color: white;
      padding-top: 100px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }

.footer {
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  position: fixed;
  padding: 20px 0;
  z-index: -1;
  opacity: 1; }
  .footer img {
    display: block; }
  .footer .brand-title {
    display: block;
    text-align: center;
    margin-bottom: 1rem; }
  .footer ul {
    text-align: center;
    padding-left: 0; }
    .footer ul li {
      display: inline-block;
      margin-right: 1rem; }
      .footer ul li:last-child {
        margin-right: 0; }
      .footer ul li a:hover {
        text-decoration: none;
        color: #cc3434; }

.navbar {
  background-color: white;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  min-height: 80px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  .navbar .navbar-brand {
    line-height: 50px;
    font-weight: 600; }
  .navbar .navbar-toggle {
    border: none;
    margin-top: 25px;
    position: relative; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:active, .navbar .navbar-toggle:focus {
      background-color: transparent; }
    .navbar .navbar-toggle span.icon-bar {
      transition: all 300ms;
      border-radius: 0; }
      .navbar .navbar-toggle span.icon-bar:nth-child(2) {
        -webkit-transform: translateY(300%) rotate(45deg);
        -ms-transform: translateY(300%) rotate(45deg);
        transform: translateY(300%) rotate(45deg); }
      .navbar .navbar-toggle span.icon-bar:nth-child(3) {
        opacity: 0; }
      .navbar .navbar-toggle span.icon-bar:nth-child(4) {
        -webkit-transform: translateY(-300%) rotate(-45deg);
        -ms-transform: translateY(-300%) rotate(-45deg);
        transform: translateY(-300%) rotate(-45deg); }
  .navbar .navbar-toggle.collapsed span.icon-bar {
    border-radius: 0; }
    .navbar .navbar-toggle.collapsed span.icon-bar:nth-child(2) {
      -webkit-transform: translateY(0) rotate(0);
      -ms-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0); }
    .navbar .navbar-toggle.collapsed span.icon-bar:nth-child(3) {
      opacity: 1; }
    .navbar .navbar-toggle.collapsed span.icon-bar:nth-child(4) {
      -webkit-transform: translateY(0) rotate(0);
      -ms-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0); }
  .navbar .navbar-collapse {
    border: none; }
  .navbar .dropdown.open, .navbar .dropdown.open > a, .navbar .dropdown-menu > li > a {
    background-color: transparent; }
    .navbar .dropdown.open:hover, .navbar .dropdown.open:active, .navbar .dropdown.open:focus, .navbar .dropdown.open > a:hover, .navbar .dropdown.open > a:active, .navbar .dropdown.open > a:focus, .navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:active, .navbar .dropdown-menu > li > a:focus {
      background-color: transparent; }
    .navbar .dropdown.open:before, .navbar .dropdown.open:after, .navbar .dropdown.open > a:before, .navbar .dropdown.open > a:after, .navbar .dropdown-menu > li > a:before, .navbar .dropdown-menu > li > a:after {
      content: '' !important; }
  .navbar .dropdown-menu {
    border-radius: 0; }
    .navbar .dropdown-menu li {
      border-bottom: 1px #f0f0f0 solid; }
      .navbar .dropdown-menu li:last-child {
        border-bottom: none; }
  .navbar .nav.navbar-nav.navbar-right {
    line-height: 80px; }
    .navbar .nav.navbar-nav.navbar-right li a {
      line-height: 50px;
      position: relative; }
      .navbar .nav.navbar-nav.navbar-right li a:before, .navbar .nav.navbar-nav.navbar-right li a:after {
        position: absolute;
        opacity: 0;
        color: #1f7a7a;
        transition: all .3s ease; }
      .navbar .nav.navbar-nav.navbar-right li a:before {
        content: '[';
        left: 0; }
      .navbar .nav.navbar-nav.navbar-right li a:after {
        content: ']';
        right: 0; }
      .navbar .nav.navbar-nav.navbar-right li a:hover {
        color: #cc3434; }
        .navbar .nav.navbar-nav.navbar-right li a:hover:before {
          opacity: 1;
          -webkit-transform: translateX(5px);
          -ms-transform: translateX(5px);
          transform: translateX(5px); }
        .navbar .nav.navbar-nav.navbar-right li a:hover:after {
          opacity: 1;
          -webkit-transform: translateX(-5px);
          -ms-transform: translateX(-5px);
          transform: translateX(-5px); }
    @media screen and (max-width: 767px) {
      .navbar .nav.navbar-nav.navbar-right li a:before, .navbar .nav.navbar-nav.navbar-right li a:after {
        content: ''; } }

.img-border-circle {
  padding: 2px;
  border: 1px solid #f0f0f0; }

.animation-delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms; }

.animation-delay-1000ms {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms; }

.animation-delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms; }

.animation-delay-2000ms {
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms; }

.row {
  margin: 0; }

.no-left-padding {
  padding-left: 0 !important; }

.no-right-padding {
  padding-right: 0 !important; }

.dropdown-menu.open {
  border-radius: 0; }

.form-control-kp {
  border: none;
  border-bottom: solid 1px #cccccc;
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: none !important; }

.form-control-textarea {
  border: solid 1px #cccccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: none !important; }

p, h1, h2, h3, h4, h5, h6, span, a, li, ol, i {
  color: #777777; }

strong {
  font-weight: 600; }

a:hover {
  color: #cc3434;
  text-decoration: none; }

p, h1, h2, h3, h4 {
  margin-bottom: 1rem; }

pre {
  background-color: #fafafa;
  padding: 20px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0; }

a.title {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  margin: 1rem 0;
  text-decoration: none;
  color: #777777;
  display: inline-block;
  border-bottom: 1px solid #cccccc;
  transition: border-bottom .3s ease; }
  a.title:before, a.title:after {
    position: absolute;
    opacity: 0;
    color: #1f7a7a;
    transition: all .3s ease; }
  a.title:before {
    content: '[';
    left: -1.5rem; }
  a.title:after {
    content: ']';
    right: -1.5rem; }
  a.title:hover {
    color: #cc3434 !important; }
    a.title:hover:before {
      opacity: 1;
      -webkit-transform: translateX(0.5rem);
      -ms-transform: translateX(0.5rem);
      transform: translateX(0.5rem); }
    a.title:hover:after {
      opacity: 1;
      -webkit-transform: translateX(-0.5rem);
      -ms-transform: translateX(-0.5rem);
      transform: translateX(-0.5rem); }
  a.title:hover, a.title:active, a.title:focus {
    text-decoration: none;
    border-bottom: 1px dotted transparent; }

a.bracket-animation {
  position: relative;
  text-decoration: none;
  color: #777777;
  display: inline-block;
  border-bottom: 1px solid #cccccc;
  transition: border-bottom .3s ease; }
  a.bracket-animation:before, a.bracket-animation:after {
    position: absolute;
    opacity: 0;
    color: #1f7a7a;
    transition: all .3s ease; }
  a.bracket-animation:before {
    content: '[';
    left: -1.5rem; }
  a.bracket-animation:after {
    content: ']';
    right: -1.5rem; }
  a.bracket-animation:hover {
    color: #cc3434 !important; }
    a.bracket-animation:hover:before {
      opacity: 1;
      -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
      transform: translateX(1rem); }
    a.bracket-animation:hover:after {
      opacity: 1;
      -webkit-transform: translateX(-1rem);
      -ms-transform: translateX(-1rem);
      transform: translateX(-1rem); }
  a.bracket-animation:hover, a.bracket-animation:active, a.bracket-animation:focus {
    text-decoration: none;
    border-bottom: 1px dotted transparent; }

section.banner {
  min-height: 100vh; }
  section.banner .content {
    position: relative;
    top: 50%;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0); }
    section.banner .content .text-center .kp-logo {
      margin-left: 1.6rem;
      width: 150px; }
    section.banner .content span:nth-child(1) {
      color: #1f7a7a; }
    section.banner .content span:nth-child(2) {
      color: #cc3434; }
    section.banner .content span:nth-child(3) {
      color: #2aa32a; }
    section.banner .content span.sub-title {
      color: #777777;
      display: block;
      text-align: center; }

.blogs-container .blog-wrapper {
  padding-bottom: 20px;
  margin-bottom: 20px; }

.blog-container {
  padding-bottom: 20px; }
  .blog-container .tags {
    text-align: center;
    padding: 0; }
    .blog-container .tags li {
      display: inline-block;
      margin-right: 15px; }
      .blog-container .tags li:last-child {
        margin-right: 0; }

#login-wrapper {
  position: relative; }
  #login-wrapper .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0); }
    #login-wrapper .content .kp-logo {
      width: 100px; }
    #login-wrapper .content span:nth-child(1) {
      color: #1f7a7a; }
    #login-wrapper .content span:nth-child(2) {
      color: #cc3434; }
    #login-wrapper .content span:nth-child(3) {
      color: #2aa32a; }
    #login-wrapper .content span.sub-title {
      color: #777777;
      display: block;
      text-align: center; }
    #login-wrapper .content ul {
      text-align: center;
      padding: 0;
      list-style: none; }
      #login-wrapper .content ul li {
        display: inline-block;
        margin-right: 15px; }
        #login-wrapper .content ul li:last-child {
          margin-right: 0; }
        #login-wrapper .content ul li a i {
          transition: color 300ms ease; }
          #login-wrapper .content ul li a i:hover, #login-wrapper .content ul li a i:focus, #login-wrapper .content ul li a i:active {
            text-decoration: none;
            color: #cc3434; }

ul.link-social-media {
  list-style: none;
  padding: 0;
  text-align: center; }
  ul.link-social-media li {
    display: inline-block;
    margin-right: 10px; }
    ul.link-social-media li:last-child {
      margin-right: 0; }
    ul.link-social-media li a:hover {
      color: #cc3434; }
