/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=62P0u0knOpyehzQjtsIr7l1v-g6 */
/* Feel free to copy&paste color codes to your application */
/* As hex codes */
.color-primary-0 {
  color: #2AA32A;
}
/* Main Primary color */
.color-primary-1 {
  color: #74D274;
}
.color-primary-2 {
  color: #48B748;
}
.color-primary-3 {
  color: #148614;
}
.color-primary-4 {
  color: #016701;
}
.color-secondary-1-0 {
  color: #1F7A7A;
}
/* Main Secondary color (1) */
.color-secondary-1-1 {
  color: #5CA5A5;
}
.color-secondary-1-2 {
  color: #368989;
}
.color-secondary-1-3 {
  color: #0F6565;
}
.color-secondary-1-4 {
  color: #014D4D;
}
.color-secondary-2-0 {
  color: #8FBE31;
}
/* Main Secondary color (2) */
.color-secondary-2-1 {
  color: #CCF085;
}
.color-secondary-2-2 {
  color: #AAD654;
}
.color-secondary-2-3 {
  color: #709C18;
}
.color-secondary-2-4 {
  color: #507802;
}
.color-complement-0 {
  color: #CC3434;
}
/* Main Complement color */
.color-complement-1 {
  color: #FF8D8D;
}
.color-complement-2 {
  color: #E55A5A;
}
.color-complement-3 {
  color: #A81A1A;
}
.color-complement-4 {
  color: #800202;
}
/* As RGBa codes */
.rgba-primary-0 {
  color: #2aa32a;
}
/* Main Primary color */
.rgba-primary-1 {
  color: #74d274;
}
.rgba-primary-2 {
  color: #48b748;
}
.rgba-primary-3 {
  color: #148614;
}
.rgba-primary-4 {
  color: #016701;
}
.rgba-secondary-1-0 {
  color: #1f7a7a;
}
/* Main Secondary color (1) */
.rgba-secondary-1-1 {
  color: #5ca5a5;
}
.rgba-secondary-1-2 {
  color: #368989;
}
.rgba-secondary-1-3 {
  color: #0f6565;
}
.rgba-secondary-1-4 {
  color: #014d4d;
}
.rgba-secondary-2-0 {
  color: #8fbe31;
}
/* Main Secondary color (2) */
.rgba-secondary-2-1 {
  color: #ccf085;
}
.rgba-secondary-2-2 {
  color: #aad654;
}
.rgba-secondary-2-3 {
  color: #709c18;
}
.rgba-secondary-2-4 {
  color: #507802;
}
.rgba-complement-0 {
  color: #cc3434;
}
/* Main Complement color */
.rgba-complement-1 {
  color: #ff8d8d;
}
.rgba-complement-2 {
  color: #e55a5a;
}
.rgba-complement-3 {
  color: #a81a1a;
}
.rgba-complement-4 {
  color: #800202;
}
.color-brand-text-primary {
  color: #1F7A7A;
}
.color-brand-text-secondary {
  color: #2AA32A;
}
.color-brand-text-accent {
  color: #CC3434;
}
.color-brand-bg-primary {
  background-color: #1F7A7A;
}
.color-brand-bg-secondary {
  background-color: #2AA32A;
}
.color-brand-bg-accent {
  background-color: #CC3434;
}
.animation-delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.animation-delay-1000ms {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.animation-delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.text-center .kp-logo {
  margin-left: 1.6rem;
  width: 150px;
}
.row {
  margin: 0;
}
p,
h1,
h2,
h3 {
  margin-bottom: 1rem;
}
a.title {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  margin: 1rem 0;
  text-decoration: none;
  color: #777;
  display: inline-block;
  border-bottom: 1px solid #ccc;
  transition: border-bottom 0.3s ease;
}
a.title:before,
a.title:after {
  position: absolute;
  opacity: 0;
  color: #1F7A7A;
  transition: all 0.3s ease;
}
a.title:before {
  content: '[';
  left: -1.5rem;
}
a.title:after {
  content: ']';
  right: -1.5rem;
}
a.title:hover {
  color: #CC3434 !important;
}
a.title:hover:before {
  opacity: 1;
  -webkit-transform: translateX(0.5rem);
  -ms-transform: translateX(0.5rem);
  transform: translateX(0.5rem);
}
a.title:hover:after {
  opacity: 1;
  -webkit-transform: translateX(-0.5rem);
  -ms-transform: translateX(-0.5rem);
  transform: translateX(-0.5rem);
}
a.title:hover,
a.title:active,
a.title:focus {
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
.navbar {
  background-color: white;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  min-height: 80px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.navbar .navbar-brand {
  line-height: 50px;
  font-weight: 600;
}
.navbar .navbar-toggle {
  border: none;
  margin-top: 25px;
  position: relative;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:focus {
  background-color: transparent;
}
.navbar .navbar-toggle span.icon-bar {
  transition: all 300ms;
  border-radius: 0;
}
.navbar .navbar-toggle span.icon-bar:nth-child(2) {
  -webkit-transform: translateY(300%) rotate(45deg);
  -ms-transform: translateY(300%) rotate(45deg);
  transform: translateY(300%) rotate(45deg);
}
.navbar .navbar-toggle span.icon-bar:nth-child(3) {
  opacity: 0;
}
.navbar .navbar-toggle span.icon-bar:nth-child(4) {
  -webkit-transform: translateY(-300%) rotate(-45deg);
  -ms-transform: translateY(-300%) rotate(-45deg);
  transform: translateY(-300%) rotate(-45deg);
}
.navbar .navbar-toggle.collapsed span.icon-bar {
  width: 22px;
  height: 2px;
  border-radius: 0;
}
.navbar .navbar-toggle.collapsed span.icon-bar:nth-child(2) {
  -webkit-transform: translateY(0) rotate(0);
  -ms-transform: translateY(0) rotate(0);
  transform: translateY(0) rotate(0);
}
.navbar .navbar-toggle.collapsed span.icon-bar:nth-child(3) {
  opacity: 1;
}
.navbar .navbar-toggle.collapsed span.icon-bar:nth-child(4) {
  -webkit-transform: translateY(0) rotate(0);
  -ms-transform: translateY(0) rotate(0);
  transform: translateY(0) rotate(0);
}
.navbar .navbar-collapse {
  border: none;
}
.navbar ul.nav.navbar-nav.navbar-right {
  line-height: 80px;
}
.navbar ul.nav.navbar-nav.navbar-right li a {
  line-height: 50px;
  position: relative;
}
.navbar ul.nav.navbar-nav.navbar-right li a:before,
.navbar ul.nav.navbar-nav.navbar-right li a:after {
  position: absolute;
  opacity: 0;
  color: #1F7A7A;
  transition: all 0.3s ease;
}
.navbar ul.nav.navbar-nav.navbar-right li a:before {
  content: '[';
  left: 0;
}
.navbar ul.nav.navbar-nav.navbar-right li a:after {
  content: ']';
  right: 0;
}
.navbar ul.nav.navbar-nav.navbar-right li a:hover {
  color: #CC3434;
}
.navbar ul.nav.navbar-nav.navbar-right li a:hover:before {
  opacity: 1;
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}
.navbar ul.nav.navbar-nav.navbar-right li a:hover:after {
  opacity: 1;
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}
@media screen and (max-width: 767px) {
  .navbar ul.nav.navbar-nav.navbar-right li a:before,
  .navbar ul.nav.navbar-nav.navbar-right li a:after {
    content: '';
  }
}
.footer {
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  position: fixed;
  padding: 20px 0;
  z-index: -1;
  opacity: 0;
}
.footer img {
  display: block;
}
.footer .brand-title {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}
.footer ul {
  text-align: center;
  padding-left: 0;
}
.footer ul li {
  display: inline-block;
  margin-right: 1rem;
}
.footer ul li:last-child {
  margin-right: 0;
}
.footer ul li a:hover {
  text-decoration: none;
  color: #CC3434;
}
section.banner {
  min-height: 100vh;
}
section.banner .content {
  position: relative;
  top: 50%;
  -webkit-transform: translate3d(0, 50%, 0);
  -ms-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
section.banner .content span:nth-child(1) {
  color: #1F7A7A;
}
section.banner .content span:nth-child(2) {
  color: #CC3434;
}
section.banner .content span:nth-child(3) {
  color: #2AA32A;
}
section.banner .content span.sub-title {
  color: #999;
  display: block;
  text-align: center;
}
section.blogs-container .blog-wrapper {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
section.blog-container {
  padding-bottom: 20px;
}
html {
  font-size: 16px;
}
html body {
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
html body .main-wrapper {
  min-height: 100vh;
  background-color: white;
  padding-top: 100px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
