doctype html
html(eng="en")
    include includes/header.pug
        
    body
        include includes/navbar.pug
        
        .main-wrapper
            block content
        
        include includes/footer.pug