@import 'variables.less';

.color-brand-text-primary { color: @color-brand-primary; }
.color-brand-text-secondary { color: @color-brand-secondary; }
.color-brand-text-accent { color: @color-brand-accent; }
.color-brand-bg-primary { background-color: @color-brand-primary; }
.color-brand-bg-secondary { background-color: @color-brand-secondary; }
.color-brand-bg-accent { background-color: @color-brand-accent; }

.text-center {
    .kp-logo {
        margin-left: 3rem;
        width: 150px;
    }
}