@import 'variables.less';

section.banner {
    min-height: 100vh;

    .content {
        position: relative;
        top: 50%;
        .transform(translate3d(0, 50%, 0));
        
        span {
            &:nth-child(1) {
                color: @color-brand-primary;
            }

            &:nth-child(2) {
                color: @color-brand-accent;
            }

            &:nth-child(3) {
                color: @color-brand-secondary;
            }
        }

        span.sub-title {
            color: #999;
            display: block;
            text-align: center;
        }
    }
}