@import 'variables.less';

.navbar {
    background-color: @color-white;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    min-height: @navbar-height;
    box-shadow: 4px 0 8px rgba(0,0,0,0.4);

    .navbar-brand {
        line-height: 50px;
        font-weight: 600;
    }

    .navbar-toggle {
        border: none;
        margin-top: 25px;

        &:hover, &:active, &:focus {
            background-color: transparent;
        }
    }

    .navbar-collapse {
        border: none;
    }

    ul.nav.navbar-nav.navbar-right {
        line-height: @navbar-height;
        
        li {

            a {
                line-height: 50px;
                position: relative;

                &:before, &:after {
                    position: absolute;
                    opacity: 0;
                    color: @color-brand-primary;
                    .transition(all .3s ease);
                }

                &:before {
                    content: '[';
                    left: 0;
                }

                &:after {
                    content: ']';
                    right: 0;
                }  

                &:hover {
                    color: @color-brand-accent;

                    &:before {
                        opacity: 1;
                        .transform(translateX(5px));
                    }

                    &:after {
                        opacity: 1;
                        .transform(translateX(-5px));
                    }
                }        
            }

            @media screen and (max-width: 767px) {
                a {
                    &:before, &:after {
                        content: '';
                    }
                }
            }
        }
    }
}