@import 'common.less';
@import 'navbar.less';
@import 'footer.less';
@import 'index.less';
@import 'blog.less';
@import 'about.less';

html {
    font-size: @base-font-size;

    body {
        background-color: @color-bg-primary; 
        font-family: @titillium-web;
        font-weight: 300;
        font-size: @base-font-size;

        .main-wrapper {
            min-height: 100vh;
            background-color: @color-bg-primary; 
            padding-top: @navbar-height + 20px;
            position: relative;
            z-index: 1;
            box-shadow: 0 0 10px rgba(0,0,0,0.4);
        }
    }
}