svg(id="kp-logo", class="kp-logo", data-name="kp-logo", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 314.39 354.11")
  title KeyPunchers
  polygon(class="kp-logo-bg-primary", points="23.96 225.03 23.57 224.65 54.95 193.27 54.95 54.39 0.56 0 0.56 354.11 54.95 354.11 54.95 256.79 23.57 225.41 23.96 225.03")
  polygon(class="kp-logo-bg-accent", points="61.96 199.21 36.14 225.03 61.96 250.85 61.96 224.71 61.96 199.21")
  polygon(class="kp-logo-bg-primary", points="162.85 177.98 124.39 139.52 70.64 193.27 70.64 194.03 70.64 224.65 70.64 256.02 77.72 263.11 115.8 225.03 162.85 177.98")
  path(d="M112.83,221.75,75.1,260.48,168,354.11l.48-.48v-76Z")
  polygon(class="kp-logo-bg-primary", points="184.13 354.11 238.53 354.11 238.53 252.5 184.13 198.11 184.13 354.11")
  polygon(points="238.53 160 172.07 93.54 133.61 132 238.53 236.92 238.53 160")
  path(class="kp-logo-bg-accent", d="M254.21,296.18h.1a59.91,59.91,0,0,0,21.35-3.92L254.21,270.2Z")
  path(d="M254.31,176h-.1v76.58l33.46,33.46a60,60,0,0,0,26.72-50c0-.2,0-.39,0-.58L254.9,176Z")