footer.footer
    .container
        img.center-block(src="/assets/svgs/logo-black.svg", alt="Key Punchers Logo", width="48px")
        span.text-center.brand-title KeyPunchers.io
        ul
            li
                a(href="/") Home
            li &#8756;
            li
                a(href="/blog") Blog
            li &#8756;
            li
                a(href="about") About
            li &#8756;
            li
                a(href="contact") Contact