head
    title KeyPunchers.io
    meta(charset="UTF-8")
    meta(name="robots" content="noodp")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(name="keywords" content="")
    meta(name="description" content="")
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/libs/animate.css/animate.min.css")
    link(rel="stylesheet", href="/css/style.min.css")
    link(rel="icon", type="image/png", href="")
    script(src='/libs/requirejs/require.js', data-main="/js/main.js")