nav.navbar.navbar-default.navbar-fixed-top
    .container.animated.fadeIn
        .navbar-header
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-top", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.transition.navbar-brand(href="/") KeyPunchers.io

        .collapse.navbar-collapse(id="navbar-top")
            ul.nav.navbar-nav.navbar-right
                li
                    a.transition(href="/blogs", data-toggle="collapse", data-target=".navbar-collapse.in") Blog
                li
                    a.transition(href="/about", data-toggle="collapse", data-target=".navbar-collapse.in") About