$color-white: white;
$color-off-white: #fafafa;
$color-black: black;
$color-off-back: #212121;
$color-light-gray: #cccccc;
$color-gray: #777777;

$color-bg-primary: $color-white;
$color-font-base: $color-gray;

$color-brand-primary: #1f7a7a;
$color-brand-secondary: #cc3434;
$color-brand-accent: #2aa32a;