// fonts
$titillium-web: 'Titillium Web', sans-serif;
$base-font-size: 16px;

// colors
$color-white: white;
$color-off-white: #fafafa;
$color-light-gray: #ccc;
$color-gray: #777;
$color-bg-primary: #ffffff;
$color-brand-primary: #1F7A7A;
$color-brand-secondary: #2AA32A;
$color-brand-accent: #CC3434;

// navbar
$navbar-height: 80px;