@import "./partials/_utils";

.footer {
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-off-white;
    position: fixed;
    padding: spacing(4) 0;
    z-index: -1;
    opacity: 1;

    img {
        display: block;
    }

    .brand-title {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }

    ul {
        text-align: center;
        padding-left: 0;
        
        li {
            display: inline-block;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }

            a {
                &:hover {
                    text-decoration: none;
                    color: $color-brand-secondary;
                }
            }
        }
    }
}