@import "./partials/_utils";

.blogs-container {
    .blog-wrapper {
        padding-bottom: spacing(4); 
        margin-bottom: spacing(4);
    }
}

.blog-container {
    padding-bottom: spacing(4); 

    .tags {
        text-align: center;
        padding: 0;

        li {
            display: inline-block;
            margin-right: spacing(3);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}