@import "./partials/_utils";

.blogs-container {
    .blog-wrapper {
        padding-bottom: spacing(4); 
        margin-bottom: spacing(4);
    }
}

.blog-container {
    padding-bottom: spacing(4); 

    .tags {
        text-align: center;
        padding: 0;

        li {
            display: inline-block;
            margin-right: spacing(3);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .comment-block {
        position: relative;
        background-color: $color-off-white;
        padding: spacing(4) spacing(2) spacing(2) spacing(2);
        margin-bottom: spacing(4);
        border-radius: 4px;
    }
}