@import "./partials/_utils";

section.banner {
    min-height: spacing(20, vh);

    .content {
        position: relative;
        top: 50%;
        transform: translate3d(0, 50%, 0);

        .text-center {
            .kp-logo {
                margin-left: 1.6rem;
                width: spacing(30);
            }
        }
        
        span {
            &:nth-child(1) {
                color: $color-brand-primary;
            }

            &:nth-child(2) {
                color: $color-brand-secondary;
            }

            &:nth-child(3) {
                color: $color-brand-accent;
            }
        }

        span.sub-title {
            color: $color-gray;
            display: block;
            text-align: center;
        }
    }
}