@import "./partials/_utils";

.navbar {
    background-color: $color-white;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    min-height: $navbar-height;
    @include bottom-shadow;

    .navbar-brand {
        line-height: spacing(10);
        font-weight: $font-weight-bold;
    }

    .navbar-toggle {
        border: none;
        margin-top: spacing(5);
        position: relative;

        &:hover, &:active, &:focus {
            background-color: transparent;
        }
        
        span.icon-bar {
            transition: all 300ms;
            border-radius: 0; 

            &:nth-child(2) {
                transform: translateY(300%) rotate(45deg);
            }

            &:nth-child(3) {
                opacity: 0;
            }

            &:nth-child(4) {
                transform: translateY(-300%) rotate(-45deg);
            }
        }
    }

    .navbar-toggle.collapsed {
        span.icon-bar {
            border-radius: 0; 

            &:nth-child(2) {
                transform: translateY(0) rotate(0);
            }

            &:nth-child(3) {
                opacity: 1;
            }

            &:nth-child(4) {
                transform: translateY(0) rotate(0);
            }
        }
    }

    .navbar-collapse {
        border: none;
    }

    .dropdown.open, .dropdown.open > a, .dropdown-menu > li > a {
        background-color: transparent;

        &:hover, &:active, &:focus {
            background-color: transparent;
        }
    }

    ul.nav.navbar-nav.navbar-right {
        line-height: $navbar-height;
        
        li {

            a {
                line-height: spacing(10);
                position: relative;

                &:before, &:after {
                    position: absolute;
                    opacity: 0;
                    color: $color-brand-primary;
                    transition: all .3s ease;
                }

                &:before {
                    content: '[';
                    left: 0;
                }

                &:after {
                    content: ']';
                    right: 0;
                }  

                &:hover {
                    color: $color-brand-secondary;

                    &:before {
                        opacity: 1;
                        transform: translateX(5px);
                    }

                    &:after {
                        opacity: 1;
                        transform: translateX(-5px);
                    }
                }        
            }

            @media screen and (max-width: 767px) {
                a {
                    &:before, &:after {
                        content: '';
                    }
                }
            }
        }
    }
}